.app {
  max-width: 960px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px 103px;
  background-color: #f3f7fa;
  font-family: 'Open Sans';
  font-style: normal;
}

@media screen and (max-width: 990px) {
  .app {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 576px) {
  .app {
    padding: 20px;
  }
}

@media screen and (max-width: 360px) {
  .app {
    padding: 10px;
  }
}

/* Reset */
* {
  box-sizing: border-box;
}

body,
p,
a,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
button,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
}
label,
button {
  cursor: pointer;
}

//Font

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@400;600&display=swap');
